<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="content">
      <h1>№(####). Task title</h1>

      <section class="section">
        <p>Task description</p>
      </section>

      <section class="section">
        <h2>Title</h2>
        <div class="note">
          Task note
        </div>
      </section>

      <section class="section">
        <p>
          <a href="#" target="_blank">LeetCode link</a>
        </p>
      </section>

    </div>
    <script src="script.js"></script>
  </body>
</html>
